*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    user-select: none;
}
body{
    background-color: rgb(152, 152, 152);
    height: 100%;
}
footer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
#mainContainer{
    display: flex;
    align-items: center;
    margin: 4em;
    margin-bottom: 1em;
    flex-direction: column;
}

#title{
    font-size: 4em;
    margin: 0px;
    margin-bottom: 20px;
}
#contentContainer{
    display: flex;
    margin: 2em;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;
}
#optionsContainer{
    border: 2px solid black;
    background-color: rgb(241, 234, 234);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.71);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    height: 35em;
    padding: 35px;
}
#sketchContainer{
    border: 50px solid rgb(96, 91, 91);    
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.71);
    border-radius: 20px;
    width: 30em;
    height: 30em;
    display: grid;
    cursor: crosshair;
}

#colorSelecterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#selectColorTitle{
    margin: 0px;
    font-size: 1.3em;
}
#colorSelecter{
    width: 80px;
    height: 80px;
    border: none;
}
#colorSelecter::-webkit-color-swatch-wrapper {
    padding: 0;
}  
#colorSelecter::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.71);
}
button{
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    width: 10em;
    font-size: 1em;
    padding: 8px;
}

button:hover, #colorSelecter:hover{
    transform: scale(1.1);
}

#clearBtn:active, #toggleGridBtn:active{
    background-color: rgb(169, 169, 169);
}

#sizeChangerContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#sizeSlider{
    -webkit-appearance: none; /* For WebKit/Blink based browsers */
    -moz-appearance: none; /* For Firefox */
    appearance: none;    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    border: 1px solid black;
    height: 0.5em;
}
#sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: rgb(96, 91, 91);
}
  
#githubIcon{
    height: 2em;
}

.gridCell {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
}
.hideGridLines {
    border: none;
}